.navbar, .navbar-dropdown, .navbar-link {
    background-color: #df8328;
  }

  .navbar-item:hover, .navbar-dropdown:hover {
    background-color: #eeb984;
    font-weight: bold;
    color:black
  }



  .black {
   background-color: #eeb984;
  }
