<div class="dough">
    <div class="sauce">
         <div class="cheese" *ngIf = 'ingredients.cheese.amount != 0'></div>
         <div class='tomatoes' *ngIf = 'ingredients.tomatoes.amount != 0'>
             <div class="tomatoe"></div>
             <div class="tomatoe"></div>
             <div class="tomatoe"></div>
             <div class="tomatoe"></div>
         </div>

         <div class='beans' *ngIf = 'ingredients.beans.amount  != 0'>
             <div class='bean'></div>
             <div class='bean'></div>
             <div class='bean'></div>
             <div class='bean'></div>
             <div class='bean'></div>
             <div class='bean'></div>
             <div class='bean'></div>
             <div class='bean'></div>
             <div class='bean'></div>
         </div>

         <div class='corns' *ngIf = 'ingredients.corn.amount != 0'>
             <div class='corn'></div>
             <div class='corn'></div>
             <div class='corn'></div>
             <div class='corn'></div>
             <div class='corn'></div>
             <div class='corn'></div>
             <div class='corn'></div>
             <div class='corn'></div>
             <div class='corn'></div>
         </div>

         <div class='onions' *ngIf = 'ingredients.onions.amount != 0'>
             <div class="onion"></div>
             <div class="onion"></div>
             <div class="onion"></div>
             <div class="onion"></div>
         </div>

         <div class='peppers' *ngIf = 'ingredients.peppers.amount != 0'>
             <div class="pepper"></div>
             <div class="pepper"></div>
             <div class="pepper"></div>
             <div class="pepper"></div>
             <div class="pepper"></div>
             <div class="pepper"></div>
         </div>
         
     </div> 
 </div>