<div class="dough">
  <div class="sauce">
    <div class="cheese" *ngIf='ingredients.length != 0'></div>
    <div class='tomatoes' *ngIf='ingredients.length != 0'>
      <div class="tomatoe"></div>
      <div class="tomatoe"></div>
      <div class="tomatoe"></div>
      <div class="tomatoe"></div>
    </div>

    <div class='beans' *ngIf='ingredients.length != 0'>
      <div class='bean'></div>
      <div class='bean'></div>
      <div class='bean'></div>
      <div class='bean'></div>
      <div class='bean'></div>
      <div class='bean'></div>
      <div class='bean'></div>
      <div class='bean'></div>
      <div class='bean'></div>
    </div>

    <div class='corns' *ngIf='ingredients.length != 0'>
      <div class='corn'></div>
      <div class='corn'></div>
      <div class='corn'></div>
      <div class='corn'></div>
      <div class='corn'></div>
      <div class='corn'></div>
      <div class='corn'></div>
      <div class='corn'></div>
      <div class='corn'></div>
    </div>

    <div class='onions' *ngIf='ingredients.length != 0'>
      <div class="onion"></div>
      <div class="onion"></div>
      <div class="onion"></div>
      <div class="onion"></div>
    </div>

    <div class='peppers' *ngIf='ingredients.length != 0'>
      <div class="pepper"></div>
      <div class="pepper"></div>
      <div class="pepper"></div>
      <div class="pepper"></div>
      <div class="pepper"></div>
      <div class="pepper"></div>
    </div>

  </div>
</div>
