<div class="pizza">
  <app-ingredients [ingredients]="currentIngredients"></app-ingredients>
</div>
<div class="columns is-mobile is-centered">
  <div class="column is-centered">
    <a routerLink="/food/checkout">
      <button class="button is-success" >Let's go!</button>
    </a>
  </div>
  <div class="column is-centered">
    <a routerLink="/">
      <button class="button is-danger">Go back</button>
    </a>
  </div>
</div>

<app-controls [availableIngredients]="ingredients"></app-controls>
<div class="price">
  <h1>Cost: {{price | async | number:'1.2-2'}}$</h1>
</div>
